# Project  ML1 : CUSTOMER CLASSIFICATION
---------------------------------------------------------------------

Instructions for the format in which the submission file should be uploaded:

The submission file should be in the csv format.

If the submission csv file is not in the same format as the sample submission file, it won’t be considered for evaluation.

It should have 2031 rows.

It should only have 2 columns, 1st column: REF_NO values, and 2nd column: predicted Revenue_Grid values.

The submission file should not have column names in the first row.

It’s suggested to set index=False, and header=False while using pd.to_csv to save the predictions to a csv file.

Example

sub_df.to_csv(‘submission.csv’, index=False, header=False)

Do not change the order of rows in the submission file. It should be the same as the sample submission file.

#### Evaluation Metric

The model evaluation will be based on the F1 Score score.

To learn more about F1 Score and it’s Python implementation,

#### Installation

In [180]:
!pip install pandas      # Importing package pandas (For data manipulation and analysis in Python)
!pip install numpy       # Importing package numpys (For Numerical Python)
!pip install -q datascience  # Package that is required by pandas profiling
!pip install -q pandas-profiling

Requirement already satisfied: pandas in /home/mithilesh/anaconda3/lib/python3.11/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/mithilesh/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/mithilesh/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/mithilesh/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /home/mithilesh/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /home/mithilesh/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: numpy in /home/mithilesh/anaconda3/lib/python3.11/site-packages (1.24.3)

#### Initialization of libreary

In [1]:
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport 
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
from sklearn.ensemble import RandomForestClassifier  # Choose an appropriate model
from sklearn.preprocessing import LabelEncoder

/tmp/ipykernel_14646/1044614860.py:3: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  from pandas_profiling import ProfileReport

#### Data Acquisition

In [2]:
train_data = pd.read_csv('existing_base_train.csv')
test_data = pd.read_csv('existing_base_test.csv')

In [3]:
train_data.head()

,REF_NO,children,age_band,status,occupation,occupation_partner,home_status,family_income,self_employed,self_employed_partner,...,Investment_Tax_Saving_Bond,Home_Loan,Online_Purchase_Amount,gender,region,Investment_in_Commudity,Investment_in_Equity,Investment_in_Derivative,Portfolio_Balance,Revenue_Grid
0,5466,2,31-35,Partner,Professional,Professional,Own Home,">=35,000",No,No,...,8.98,55.44,7.68,Female,North West,151.55,81.79,136.02,360.37,2
1,9091,Zero,45-50,Partner,Secretarial/Admin,Professional,Own Home,">=35,000",No,No,...,0.00,0.00,18.99,Female,North West,44.28,13.91,29.23,89.22,2
2,9744,1,36-40,Partner,Manual Worker,Manual Worker,Rent Privately,"<22,500, >=20,000",Yes,Yes,...,0.00,0.00,0.00,Female,South West,8.58,1.75,4.82,14.50,2
3,10700,2,31-35,Partner,Manual Worker,Manual Worker,Own Home,"<25,000, >=22,500",No,No,...,0.00,0.00,0.00,Female,Scotland,15.00,0.00,5.00,68.98,2
4,1987,Zero,55-60,Partner,Housewife,Professional,Own Home,">=35,000",No,No,...,0.00,0.00,0.00,Female,Unknown,0.00,1.66,1.66,1.88,2

In [4]:
test_data.head()

,REF_NO,children,age_band,status,occupation,occupation_partner,home_status,family_income,self_employed,self_employed_partner,...,Investment_in_Mutual_Fund,Investment_Tax_Saving_Bond,Home_Loan,Online_Purchase_Amount,gender,region,Investment_in_Commudity,Investment_in_Equity,Investment_in_Derivative,Portfolio_Balance
0,697,Zero,71+,Partner,Retired,Housewife,Own Home,"<12,500, >=10,000",No,No,...,45.97,0.00,0.00,0.00,Male,South West,40.48,15.07,28.40,83.05
1,7897,Zero,31-35,Partner,Unknown,Business Manager,Own Home,">=35,000",No,No,...,133.88,27.45,13.47,57.46,Male,South East,27.07,72.01,82.74,235.29
2,4729,Zero,71+,Partner,Housewife,Retired,Own Home,"<15,000, >=12,500",No,No,...,107.88,0.00,0.00,0.00,Female,South West,44.39,32.62,43.86,98.38
3,6914,1,22-25,Partner,Other,Other,Own Home,"<17,500, >=15,000",No,No,...,44.96,0.00,0.00,0.00,Female,Scotland,21.59,24.57,29.23,86.32
4,2795,Zero,65-70,Widowed,Retired,Unknown,Own Home,"< 4,000",No,No,...,33.96,6.99,17.93,5.45,Female,South East,53.66,16.22,32.89,102.99

#### Data Description

In [5]:
train_data.describe()

,REF_NO,year_last_moved,Average_Credit_Card_Transaction,Balance_Transfer,Term_Deposit,Life_Insurance,Medical_Insurance,Average_A/C_Balance,Personal_Loan,Investment_in_Mutual_Fund,Investment_Tax_Saving_Bond,Home_Loan,Online_Purchase_Amount,Investment_in_Commudity,Investment_in_Equity,Investment_in_Derivative,Portfolio_Balance,Revenue_Grid
count,8124.000000,8124.000000,8124.000000,8124.000000,8124.000000,8124.000000,8124.000000,8124.000000,8124.00000,8124.000000,8124.000000,8124.000000,8124.000000,8124.000000,8124.000000,8124.000000,8124.000000,8124.000000
mean,5797.343304,1967.876908,23.251094,46.082922,27.284649,65.317939,18.826195,31.838023,25.41583,41.723628,6.057246,4.416914,19.198658,36.152749,21.442475,31.530652,89.353368,1.894141
std,3322.497568,182.563785,51.147496,79.084692,54.133537,95.762451,32.022332,45.249440,85.13015,64.416023,12.673374,9.945747,92.343126,42.474953,32.261660,39.480660,108.303538,0.307676
min,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-78.430000,1.000000
25%,2924.750000,1978.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,8.282500,4.660000,8.740000,26.277500,2.000000
50%,5811.500000,1988.000000,0.000000,17.485000,0.000000,31.475000,0.010000,14.980000,0.00000,23.480000,0.000000,0.000000,0.000000,23.590000,12.820000,21.140000,65.560000,2.000000
75%,8681.500000,1994.000000,23.480000,64.990000,34.490000,92.887500,26.970000,45.922500,20.82750,59.440000,5.490000,4.490000,7.480000,49.795000,27.972500,42.392500,123.970000,2.000000
max,11518.000000,1999.000000,662.260000,2951.760000,784.820000,2930.410000,591.040000,626.240000,4905.93000,2561.270000,156.870000,162.350000,4306.420000,1231.090000,1279.100000,1771.160000,4283.560000,2.000000

#### Data Information

In [6]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8124 entries, 0 to 8123
Data columns (total 32 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   REF_NO                           8124 non-null   int64
 1   children                         8124 non-null   object
 2   age_band                         8124 non-null   object
 3   status                           8124 non-null   object
 4   occupation                       8124 non-null   object
 5   occupation_partner               8124 non-null   object
 6   home_status                      8124 non-null   object
 7   family_income                    8124 non-null   object
 8   self_employed                    8124 non-null   object
 9   self_employed_partner            8124 non-null   object
 10  year_last_moved                  8124 non-null   int64
 11  TVarea                           8124 non-null   object
 12  post_code                        8124 non-null   object
 13  post_area                        8124 non-null   object
 14  Average_Credit_Card_Transaction  8124 non-null   float64
 15  Balance_Transfer                 8124 non-null   float64
 16  Term_Deposit                     8124 non-null   float64
 17  Life_Insurance                   8124 non-null   float64
 18  Medical_Insurance                8124 non-null   float64
 19  Average_A/C_Balance              8124 non-null   float64
 20  Personal_Loan                    8124 non-null   float64
 21  Investment_in_Mutual_Fund        8124 non-null   float64
 22  Investment_Tax_Saving_Bond       8124 non-null   float64
 23  Home_Loan                        8124 non-null   float64
 24  Online_Purchase_Amount           8124 non-null   float64
 25  gender                           8124 non-null   object
 26  region                           8124 non-null   object
 27  Investment_in_Commudity          8124 non-null   float64
 28  Investment_in_Equity             8124 non-null   float64
 29  Investment_in_Derivative         8124 non-null   float64
 30  Portfolio_Balance                8124 non-null   float64
 31  Revenue_Grid                     8124 non-null   int64
dtypes: float64(15), int64(3), object(14)
memory usage: 2.0+ MB

#### Pre Profiling Report

In [7]:
# profile = ProfileReport(df=train_data)
# profile.to_file(output_file='Pre_Profiling_Report.html')
# print('Accomplished!')

In [8]:
for trn in train_data.columns:
    print("\n===========\n")
    print(trn)
    print("===========\n")
    print(train_data[trn].unique())

===========

REF_NO
===========

[5466 9091 9744 ... 6130  980 8267]

===========

children
===========

['2' 'Zero' '1' '3' '4+']

===========

age_band
===========

['31-35' '45-50' '36-40' '55-60' '61-65' '65-70' '41-45' '51-55' '26-30'
 '22-25' '71+' 'Unknown' '18-21']

===========

status
===========

['Partner' 'Divorced/Separated' 'Single/Never Married' 'Widowed' 'Unknown']

===========

occupation
===========

['Professional' 'Secretarial/Admin' 'Manual Worker' 'Housewife' 'Retired'
 'Other' 'Unknown' 'Business Manager' 'Student']

===========

occupation_partner
===========

['Professional' 'Manual Worker' 'Business Manager' 'Secretarial/Admin'
 'Retired' 'Housewife' 'Unknown' 'Other' 'Student']

===========

home_status
===========

['Own Home' 'Rent Privately' 'Rent from Council/HA' 'Live in Parental Hom'
 'Unclassified']

===========

family_income
===========

['>=35,000' '<22,500, >=20,000' '<25,000, >=22,500' '<30,000, >=27,500'
 '<20,000, >=17,500' '<27,500, >=25,000' '< 4,000' '<15,000, >=12,500'
 '<17,500, >=15,000' '< 8,000, >= 4,000' '<12,500, >=10,000'
 '<10,000, >= 8,000' 'Unknown']

===========

self_employed
===========

['No' 'Yes']

===========

self_employed_partner
===========

['No' 'Yes']

===========

year_last_moved
===========

[1981 1997 1996 1990 1989 1984 1986 1998 1980 1950 1971 1995 1987 1991
 1973 1951 1970 1993 1978 1969 1983 1967 1985 1992 1960 1994 1988 1965
 1937 1972 1949 1904 1999 1958 1977 1948 1974 1955    0 1920 1982 1963
 1942 1962 1975 1968 1964 1979 1966 1961 1957 1976 1959 1953 1935 1928
 1939 1956 1917 1911 1936 1902 1954 1940 1930 1929 1931 1906 1946 1914
 1910 1943 1952 1944 1912 1908 1947 1905 1938 1909 1923 1922 1941 1921
 1945 1907 1924 1901 1932 1927 1919 1913 1903 1915]

===========

TVarea
===========

['Meridian' 'HTV' 'Scottish TV' 'Yorkshire' 'Ulster' 'Central' 'Granada'
 'Unknown' 'Carlton' 'Border' 'Tyne Tees' 'Anglia' 'TV South West'
 'Grampian']

===========

post_code
===========

['M51 0GU' 'L40 2AG' 'TA19 9PT' ... 'BT28 1DX' 'CT10 2JF' 'TS16 0HG']

===========

post_area
===========

['M51' 'L40' 'TA19' ... 'NE20' 'IV32' 'SS4']

===========

Average_Credit_Card_Transaction
===========

[ 26.98  35.98   0.   ...  97.95  19.93 148.45]

===========

Balance_Transfer
===========

[ 29.99  74.48  24.46 ...  18.13 256.94 161.72]

===========

Term_Deposit
===========

[312.25   0.   337.83 ...  94.44  85.46  97.95]

===========

Life_Insurance
===========

[299.79  99.96  18.44 ... 137.44  23.42 127.45]

===========

Medical_Insurance
===========

[88.72 10.99  0.   ... 76.43 50.98 46.91]

===========

Average_A/C_Balance
===========

[108.85  48.45   0.   ... 161.79 158.47  88.92]

===========

Personal_Loan
===========

[1.7543e+02 1.5990e+01 2.0000e-02 ... 1.0535e+02 3.8112e+02 2.2003e+02]

===========

Investment_in_Mutual_Fund
===========

[134.35   0.    10.46 ... 137.32  46.76 101.37]

===========

Investment_Tax_Saving_Bond
===========

[8.9800e+00 0.0000e+00 1.0000e+00 2.4470e+01 1.1970e+01 2.0000e+00
 1.6950e+01 2.1940e+01 1.1460e+01 9.9800e+00 1.9990e+01 7.4980e+01
 2.8960e+01 1.4470e+01 1.1480e+01 3.3970e+01 3.8960e+01 9.9900e+00
 7.9900e+00 1.3980e+01 2.2940e+01 1.0000e+01 3.4480e+01 4.4900e+00
 4.9900e+00 9.4900e+00 1.4000e+01 2.4980e+01 1.9900e+00 4.5960e+01
 3.9900e+00 3.0990e+01 1.5000e+00 2.9980e+01 1.1450e+01 9.0000e+00
 2.4900e+00 5.9800e+00 3.4900e+00 2.8980e+01 3.5480e+01 2.4490e+01
 3.3980e+01 1.6460e+01 1.0960e+01 9.7000e-01 9.4800e+00 4.8900e+00
 5.0000e+00 1.3460e+01 2.6470e+01 5.2400e+01 2.9480e+01 1.0970e+01
 2.0480e+01 2.1560e+01 4.0030e+01 4.9700e+00 1.6500e+00 1.4980e+01
 1.2980e+01 4.3410e+01 5.9380e+01 6.5770e+01 5.0410e+01 3.9390e+01
 3.9990e+01 4.4980e+01 8.0000e+00 1.8970e+01 3.7950e+01 4.2480e+01
 1.8450e+01 2.9900e+00 2.0960e+01 5.3950e+01 5.7300e+00 7.4900e+00
 4.2440e+01 1.3970e+01 5.8930e+01 3.0000e+00 1.0090e+01 3.4450e+01
 1.9970e+01 1.3470e+01 6.0330e+01 9.2470e+01 3.1930e+01 2.4480e+01
 2.4990e+01 1.2470e+01 1.0980e+01 5.8950e+01 1.3000e+01 1.8460e+01
 2.1480e+01 1.9480e+01 1.9430e+01 1.9490e+01 5.4900e+00 2.5930e+01
 4.2400e+00 1.2430e+01 5.1950e+01 2.9990e+01 4.9990e+01 1.5980e+01
 5.8410e+01 3.4980e+01 4.0000e+00 3.7970e+01 2.6460e+01 1.8480e+01
 1.6450e+01 4.5940e+01 2.2440e+01 3.4420e+01 1.4990e+01 3.9980e+01
 1.1790e+01 1.7460e+01 4.4800e+00 2.6970e+01 1.0460e+01 1.7960e+01
 8.4900e+00 1.0480e+01 2.7470e+01 8.9700e+00 3.1990e+01 1.0000e-02
 3.5970e+01 1.1470e+01 3.9800e+00 1.4490e+01 4.5440e+01 1.5470e+01
 3.2430e+01 3.2470e+01 2.4950e+01 2.3860e+01 4.1480e+01 6.4900e+00
 1.2480e+01 7.4800e+00 5.7420e+01 2.9490e+01 3.4800e+00 3.5950e+01
 1.9440e+01 3.5460e+01 2.2470e+01 4.6960e+01 2.4970e+01 2.5980e+01
 2.2990e+01 1.9980e+01 5.9900e+00 2.5990e+01 8.4700e+00 2.5000e+01
 1.7980e+01 5.0000e-01 4.3190e+01 3.9450e+01 2.9960e+01 4.4200e+00
 1.0670e+01 6.0000e+00 2.8490e+01 2.9800e+00 3.1970e+01 6.4800e+00
 1.5480e+01 6.9800e+00 3.3430e+01 1.2970e+01 3.4210e+01 3.5940e+01
 6.4700e+00 4.0160e+01 4.6950e+01 4.5000e-01 4.1960e+01 1.4480e+01
 2.0120e+01 6.3450e+01 3.8440e+01 4.4910e+01 4.9490e+01 3.0440e+01
 1.5490e+01 2.2450e+01 2.5460e+01 3.1460e+01 2.4940e+01 3.5470e+01
 1.6470e+01 6.1830e+01 2.3460e+01 4.9800e+00 1.4900e+00 5.9700e+00
 1.4940e+01 4.2970e+01 2.1960e+01 3.1600e+01 1.8950e+01 1.1000e+00
 2.0990e+01 2.0470e+01 3.5000e+00 7.7200e+00 4.6460e+01 4.4420e+01
 4.7960e+01 2.7930e+01 4.8910e+01 1.2960e+01 7.9800e+00 4.4460e+01
 2.2400e+00 2.6950e+01 6.9700e+00 2.5960e+01 5.9990e+01 6.6300e+00
 8.3350e+01 2.1470e+01 3.9850e+01 1.0990e+01 9.9000e-01 4.0970e+01
 2.2980e+01 8.9900e+00 3.6930e+01 9.9700e+00 2.3990e+01 4.6420e+01
 1.3000e+00 1.1960e+01 1.7470e+01 6.4450e+01 1.6700e+01 8.7280e+01
 2.1990e+01 5.4800e+00 2.7970e+01 3.4960e+01 3.3720e+01 4.3910e+01
 2.3960e+01 7.9700e+00 1.0490e+01 1.5970e+01 2.9470e+01 2.4440e+01
 1.5950e+01 3.7460e+01 5.6300e+00 2.0450e+01 1.7490e+01 3.8480e+01
 2.9930e+01 1.0470e+01 2.1450e+01 4.7460e+01 2.0000e-01 1.3480e+01
 2.8440e+01 6.5000e+00 2.9430e+01 9.4600e+00 6.9900e+00 2.0940e+01
 2.3480e+01 4.2990e+01 6.1460e+01 2.8470e+01 5.6950e+01 3.6970e+01
 1.8000e+00 8.4800e+00 1.2460e+01 1.6980e+01 2.2670e+01 2.4460e+01
 1.2950e+01 4.8460e+01 2.0490e+01 2.5200e+01 2.2460e+01 2.1970e+01
 3.0950e+01 3.9480e+01 1.0246e+02 2.9950e+01 7.1400e+00 2.0430e+01
 4.9960e+01 1.5720e+01 3.2450e+01 2.1460e+01 1.6800e+01 4.7970e+01
 1.1980e+01 5.0970e+01 4.5980e+01 3.2990e+01 2.9700e+01 4.3460e+01
 5.4350e+01 2.7420e+01 3.2970e+01 3.2890e+01 6.6630e+01 3.0940e+01
 1.2490e+01 1.4960e+01 2.0460e+01 2.3980e+01 3.0960e+01 4.5460e+01
 1.0000e-01 3.9950e+01 1.9960e+01 2.1490e+01 7.4700e+00 1.0720e+01
 8.5000e-01 1.1950e+01 2.6490e+01 4.4480e+01 1.4450e+01 2.1440e+01
 3.2690e+01 1.7190e+01 2.5450e+01 1.1490e+01 5.8900e+01 2.2970e+01
 4.0940e+01 2.5940e+01 3.5450e+01 2.1690e+01 7.0000e+00 3.7580e+01
 5.0000e+01 4.0120e+01 5.7220e+01 1.5450e+01 4.5480e+01 3.9960e+01
 2.5490e+01 4.9980e+01 3.4950e+01 3.2400e+00 1.4970e+01 2.4500e+00
 1.5990e+01 2.5430e+01 1.9890e+01 5.0480e+01 2.7480e+01 5.4700e+00
 9.5920e+01 2.0000e+01 3.0460e+01 3.2440e+01 2.2950e+01 4.9430e+01
 3.2950e+01 2.7490e+01 3.7470e+01 3.3190e+01 3.0980e+01 2.1430e+01
 1.8960e+01 1.9460e+01 1.1990e+01 4.5450e+01 1.8200e+01 5.3920e+01
 3.3460e+01 2.8430e+01 1.9950e+01 4.0990e+01 1.7000e+01 4.4960e+01
 2.3430e+01 2.1950e+01 4.7440e+01 2.5000e+00 4.2950e+01 3.7170e+01
 3.0690e+01 4.4970e+01 8.5380e+01 1.0120e+01 4.0980e+01 8.6930e+01
 3.0480e+01 6.1440e+01 1.3856e+02 4.5950e+01 3.2960e+01 6.3380e+01
 3.0490e+01 5.4470e+01 3.8460e+01 4.1500e+00 3.6460e+01 6.4980e+01
 4.0450e+01 3.3950e+01 2.7450e+01 3.8940e+01 3.6420e+01 2.9970e+01
 4.4440e+01 1.7480e+01 1.6970e+01 3.9470e+01 4.0950e+01 9.2300e+00
 3.5960e+01 8.6460e+01 4.4470e+01 2.9920e+01 4.3970e+01 3.9970e+01
 2.0930e+01 1.8980e+01 4.7420e+01 1.3940e+01 4.3930e+01 6.5900e+01
 6.3890e+01 3.2480e+01 3.9490e+01 1.5960e+01 1.6320e+01 1.3720e+01
 1.2000e+01 5.5150e+01 2.9940e+01 4.9380e+01 7.7940e+01 8.4360e+01
 4.0720e+01 3.3910e+01 3.8950e+01 3.3450e+01 3.7600e+00 2.6980e+01
 3.4470e+01 2.1230e+01 1.7440e+01 9.7600e+00 2.8480e+01 2.4450e+01
 4.6970e+01 1.7690e+01 4.8480e+01 6.2970e+01 1.2400e+00 1.2230e+01
 7.1970e+01 1.5687e+02 6.6470e+01 3.8470e+01 1.2630e+01 4.8920e+01
 5.4930e+01 2.4700e+01 2.5480e+01 2.9460e+01 4.4990e+01 4.2590e+01
 2.0950e+01 2.2660e+01 3.3960e+01 2.7300e+00 8.2300e+00 4.6500e+00
 4.8930e+01 6.6400e+01 3.9410e+01 1.9450e+01 1.4460e+01 4.1460e+01
 5.2380e+01 3.3410e+01 1.3920e+01 5.9940e+01 5.1920e+01 3.8430e+01
 3.2870e+01 2.4800e+00 1.8920e+01 2.8460e+01 6.6940e+01 2.5950e+01
 6.9980e+01 1.4500e+01 6.8130e+01 9.6440e+01 2.6990e+01 5.9470e+01
 3.7430e+01 7.9990e+01 2.1930e+01 8.1900e+00 1.2320e+01 1.3960e+01
 5.5940e+01 2.1980e+01 4.4400e+01 3.6960e+01 6.6340e+01 3.1480e+01
 3.1430e+01 7.1650e+01 4.1940e+01 1.6990e+01 1.7970e+01 7.3430e+01
 5.5930e+01 4.1240e+01 2.2700e+01 5.4570e+01 6.8980e+01 5.0400e+01
 1.2990e+01 3.9670e+01 1.5210e+01 4.3960e+01 1.6440e+01 3.9400e+01
 2.8970e+01 5.5470e+01 5.2480e+01 4.1980e+01 3.0000e+01 2.7210e+01
 2.2960e+01 1.4950e+01 8.4090e+01 5.6960e+01 1.4440e+01 9.0810e+01
 6.9900e+01 4.9940e+01 2.2220e+01 2.6440e+01 2.8950e+01 8.5000e+00
 1.5460e+01 1.6000e+00 4.4410e+01 3.1960e+01 6.9400e+01 3.3930e+01
 1.7210e+01 2.4200e+01 2.4430e+01 2.0980e+01 4.9880e+01 4.1710e+01
 8.7200e+00 4.0930e+01 1.9470e+01 2.3450e+01 2.5970e+01 3.2710e+01
 2.5470e+01 1.8470e+01 3.1980e+01 2.2480e+01 2.0220e+01 5.2400e+00
 5.1990e+01 8.9960e+01 1.6480e+01 1.6600e+01 5.9390e+01 3.3990e+01
 1.4700e+01 3.0970e+01 1.4720e+01 1.6430e+01 6.4600e+00 4.3980e+01
 4.8420e+01 2.8900e+00 2.3230e+01 3.1450e+01 3.8980e+01 9.3000e+00
 3.9180e+01 2.7950e+01 3.1220e+01 4.7370e+01 2.7660e+01 1.2790e+01
 3.6940e+01 7.6940e+01 1.6940e+01 5.4960e+01 3.7480e+01 1.2500e+00
 2.5440e+01 5.2420e+01 4.1000e+01 2.2490e+01 1.0181e+02 1.0194e+02
 3.0660e+01 1.0590e+01 3.1000e+01 4.0960e+01 4.3920e+01 1.2476e+02
 2.6450e+01 3.2980e+01 6.6310e+01 3.0900e+01 1.5000e+01 2.0210e+01
 3.5430e+01 1.0210e+01 4.2300e+00 3.4970e+01 4.9470e+01 8.9600e+00
 3.8420e+01 4.3400e+01 9.4700e+00 3.1800e+00 6.0410e+01 1.7450e+01
 4.4920e+01 3.1440e+01 2.2430e+01 5.9950e+01 1.1987e+02 3.8500e+00
 5.9600e+00 5.2940e+01 4.1470e+01 3.6450e+01 4.0470e+01 5.9970e+01
 5.6650e+01 5.8440e+01 2.3490e+01 7.2300e+00 3.6380e+01 1.2740e+01
 5.4900e+01 1.8190e+01 7.4000e-01 7.7700e+00 1.5940e+01 3.3470e+01
 3.0710e+01 7.0440e+01 2.6960e+01 6.2470e+01 1.3490e+01 6.6970e+01
 5.0430e+01 3.6120e+01 4.3950e+01 3.7980e+01 5.2650e+01 2.4230e+01
 2.9440e+01 4.2210e+01 1.6960e+01 3.2420e+01 5.1620e+01 4.7170e+01
 2.8450e+01 2.6930e+01 1.3990e+01 5.2440e+01 5.3480e+01 7.4600e+00
 1.3500e+00 6.2400e+00 9.7200e+00 3.3000e+00 2.5130e+01 4.1340e+01
 5.5950e+01 1.1210e+01 3.5490e+01 1.2144e+02 6.5000e-01 7.5970e+01
 6.7720e+01 4.0410e+01 1.4170e+01 4.9400e+01 5.3820e+01 4.5390e+01
 3.2940e+01 2.0970e+01 1.5710e+01 4.3940e+01 6.9490e+01 2.1420e+01
 2.6920e+01 1.5340e+01 1.7220e+01 2.9560e+01]

===========

Home_Loan
===========

[5.5440e+01 0.0000e+00 3.9900e+00 5.0000e+00 4.4800e+00 6.9900e+00
 3.6140e+01 2.5980e+01 5.4800e+00 7.9900e+00 2.4420e+01 2.9800e+00
 1.0980e+01 5.4900e+00 9.4900e+00 2.5420e+01 1.2980e+01 6.9800e+00
 2.4900e+00 7.4700e+00 3.5450e+01 8.4800e+00 2.1470e+01 3.0440e+01
 8.7100e+00 2.1920e+01 1.0950e+01 4.4900e+00 1.2990e+01 3.4900e+00
 1.3470e+01 2.8950e+01 4.9890e+01 2.9900e+00 4.9800e+00 3.9220e+01
 1.5000e+00 1.4230e+01 1.7400e+00 1.8470e+01 1.0480e+01 1.6480e+01
 2.4460e+01 1.4940e+01 9.4800e+00 8.2200e+00 2.5000e+00 2.2980e+01
 4.6430e+01 2.3470e+01 4.9900e+00 9.9900e+00 3.9910e+01 9.4700e+00
 1.0990e+01 2.4450e+01 1.6460e+01 4.4940e+01 5.9900e+00 5.1900e+01
 6.5580e+01 2.3420e+01 1.4900e+00 1.3940e+01 2.2400e+00 8.5700e+00
 1.5720e+01 1.3950e+01 1.9970e+01 2.8190e+01 1.3670e+01 1.1220e+01
 1.6470e+01 3.1180e+01 3.1420e+01 7.4800e+00 2.3450e+01 5.7320e+01
 5.4600e+00 1.1440e+01 1.9900e+00 1.0210e+01 2.3980e+01 4.4160e+01
 7.0880e+01 1.1980e+01 1.5480e+01 1.5470e+01 4.2300e+00 1.4980e+01
 2.9490e+01 3.5300e+00 5.9800e+00 7.4900e+00 1.4990e+01 8.9800e+00
 3.6940e+01 9.4600e+00 7.2200e+00 2.1710e+01 1.8450e+01 1.8980e+01
 1.6450e+01 2.2020e+01 1.2940e+01 1.9220e+01 5.4700e+00 1.2710e+01
 7.8880e+01 1.3960e+01 3.7500e+00 2.7950e+01 8.9700e+00 4.0430e+01
 8.7400e+00 4.0440e+01 3.3960e+01 8.9900e+00 7.9800e+00 5.0700e+00
 1.4030e+01 1.0000e-02 1.2480e+01 1.5980e+01 1.0970e+01 3.4980e+01
 5.2420e+01 1.4470e+01 9.0490e+01 2.4980e+01 1.4490e+01 2.4180e+01
 1.5930e+01 6.4800e+00 1.5000e+01 6.2400e+00 2.4480e+01 1.5990e+01
 9.1260e+01 6.1370e+01 1.7900e+00 2.5210e+01 6.4900e+00 4.9600e+00
 9.9800e+00 3.4460e+01 1.6670e+01 4.3960e+01 1.5970e+01 4.8700e+01
 7.4000e-01 9.7300e+00 1.3160e+01 1.1480e+01 3.4800e+00 5.9930e+01
 1.3980e+01 1.3970e+01 6.7300e+00 4.5900e+01 1.9950e+01 2.5540e+01
 7.7100e+00 8.4900e+00 3.6440e+01 4.8900e+01 2.7400e+00 4.0000e+00
 5.0830e+01 1.9720e+01 3.4970e+01 1.6980e+01 9.1900e+00 2.0930e+01
 4.4240e+01 2.7300e+00 6.0000e+00 7.9700e+00 7.9600e+00 2.1970e+01
 1.5870e+01 2.6960e+01 1.9460e+01 2.0470e+01 3.9970e+01 1.5490e+01
 2.8470e+01 1.7970e+01 1.5460e+01 5.7300e+00 8.2000e+00 3.5400e+01
 1.9940e+01 3.3970e+01 1.8960e+01 1.9480e+01 3.1950e+01 2.3700e+01
 2.3960e+01 2.2500e+00 6.8360e+01 1.0490e+01 1.7480e+01 3.5900e+00
 2.6450e+01 2.3920e+01 5.2400e+00 1.3190e+01 4.6880e+01 1.6850e+01
 2.9440e+01 1.8460e+01 3.6290e+01 1.4950e+01 1.7980e+01 1.4480e+01
 2.2460e+01 2.6420e+01 2.0460e+01 3.4900e+01 5.7200e+00 9.9000e-01
 2.9730e+01 1.1730e+01 5.4890e+01 1.8220e+01 1.9570e+01 1.2970e+01
 5.3920e+01 2.2450e+01 2.5220e+01 2.2470e+01 2.4950e+01 2.0000e+00
 1.2470e+01 1.4450e+01 3.2310e+01 1.2000e+01 7.2600e+00 3.2400e+00
 2.3930e+01 2.7930e+01 3.2300e+00 3.8920e+01 1.0000e+01 1.0940e+01
 2.4190e+01 2.1390e+01 2.0940e+01 3.4420e+01 2.8930e+01 1.4920e+01
 2.2300e+00 1.4660e+01 4.7300e+00 3.0960e+01 1.1990e+01 1.3480e+01
 3.3940e+01 2.7900e+00 2.3680e+01 7.4600e+00 1.5960e+01 3.3090e+01
 1.4970e+01 1.1460e+01 2.5920e+01 6.2300e+00 3.3430e+01 2.1980e+01
 2.3940e+01 3.9800e+00 6.6800e+00 1.9980e+01 2.3460e+01 1.9160e+01
 1.4180e+01 2.8940e+01 4.6450e+01 5.2300e+00 1.2960e+01 7.2300e+00
 7.1800e+00 3.4620e+01 2.2770e+01 1.0720e+01 3.2420e+01 2.7460e+01
 2.9980e+01 2.2970e+01 1.1490e+01 1.4580e+01 2.0690e+01 1.1970e+01
 8.0110e+01 1.8970e+01 3.6110e+01 9.9600e+00 2.4800e+00 1.0000e+00
 3.0450e+01 3.6420e+01 4.1410e+01 9.2100e+00 1.3460e+01 2.1440e+01
 3.4470e+01 5.2200e+00 3.1930e+01 9.1700e+00 3.4960e+01 4.5000e+00
 1.9960e+01 3.6900e+01 1.2400e+00 1.7570e+01 2.1480e+01 1.1210e+01
 2.6980e+01 3.7100e+01 8.6900e+00 1.1740e+01 3.6160e+01 2.7940e+01
 6.4700e+00 3.0000e+00 1.8480e+01 4.9910e+01 2.4440e+01 1.8200e+01
 2.1200e+01 2.5470e+01 3.3950e+01 3.1940e+01 3.2540e+01 1.1470e+01
 3.6470e+01 3.0200e+01 4.2200e+00 2.0980e+01 1.7460e+01 4.3900e+01
 2.0490e+01 3.8560e+01 2.6910e+01 3.7740e+01 1.2192e+02 1.7950e+01
 9.9700e+00 5.3800e+00 2.5950e+01 2.2960e+01 1.1439e+02 7.7300e+00
 1.2230e+01 3.1430e+01 4.3140e+01 2.2690e+01 1.2220e+01 4.0920e+01
 4.6390e+01 6.9700e+00 3.5460e+01 5.5800e+00 2.2220e+01 3.9960e+01
 6.4140e+01 6.4900e+01 7.9500e+00 2.0640e+01 6.4500e+00 4.6700e+00
 3.8720e+01 1.4730e+01 1.0710e+01 2.7500e+00 4.7610e+01 3.5940e+01
 3.5000e+00 4.2440e+01 3.2750e+01 3.7400e+00 1.9710e+01 1.0390e+01
 1.3300e+01 2.1940e+01 1.7890e+01 2.0200e+01 2.3970e+01 2.9940e+01
 2.8450e+01 3.1170e+01 1.6290e+01 1.4960e+01 1.5200e+01 3.7680e+01
 1.6700e+01 2.5890e+01 4.3950e+01 5.7600e+00 2.6690e+01 8.4700e+00
 1.9190e+01 2.5020e+01 2.4970e+01 1.3450e+01 8.6830e+01 6.2900e+00
 2.9960e+01 3.7660e+01 2.0970e+01 2.2930e+01 3.3910e+01 3.7420e+01
 3.3770e+01 2.2180e+01 4.7150e+01 2.2440e+01 3.8470e+01 1.1010e+01
 2.8920e+01 6.4600e+00 3.6410e+01 2.2580e+01 1.2490e+01 2.3410e+01
 2.4960e+01 1.5210e+01 1.8440e+01 1.6970e+01 3.0940e+01 3.7950e+01
 2.5180e+01 2.2190e+01 3.7150e+01 2.2430e+01 2.2700e+01 2.3430e+01
 6.7200e+00 3.5420e+01 2.1400e+01 2.1990e+01 2.9450e+01 1.7500e+00
 2.5460e+01 3.1350e+01 2.4680e+01 1.9440e+01 8.0800e+00 4.1590e+01
 1.2450e+01 1.7450e+01 8.0050e+01 3.1470e+01 2.1460e+01 1.5170e+01
 4.4380e+01 4.7900e+00 2.5710e+01 3.7940e+01 3.6860e+01 2.7450e+01
 2.5960e+01 8.4600e+00 6.8120e+01 3.9430e+01 1.5220e+01 1.2260e+01
 1.2270e+01 5.0410e+01 4.6920e+01 2.6430e+01 6.6870e+01 1.2780e+01
 5.5000e+00 4.9460e+01 9.1600e+00 2.8410e+01 1.0470e+01 4.1900e+01
 6.2200e+00 5.9700e+00 2.3480e+01 4.4900e+01 7.2110e+01 2.9400e+01
 4.2500e+01 4.5920e+01 6.3900e+00 5.1000e-01 1.6770e+01 2.9480e+01
 4.9700e+00 2.3490e+01 2.3950e+01 1.1690e+01 3.0950e+01 2.2170e+01
 6.6700e+00 8.7200e+00 2.1900e+00 2.3690e+01 7.3430e+01 3.9920e+01
 1.2460e+01 2.9470e+01 7.3450e+01 1.7640e+01 1.4500e+01 9.7100e+00
 2.2660e+01 6.8110e+01 2.5440e+01 2.1950e+01 1.0240e+01 6.8300e+01
 1.4720e+01 3.3380e+01 2.8430e+01 1.5250e+01 2.0760e+01 1.9470e+01
 3.9170e+01 1.9530e+01 1.6220e+01 9.7200e+00 4.2960e+01 1.0220e+01
 5.0000e-01 1.2070e+01 9.9000e+00 5.7910e+01 8.6370e+01 2.0960e+01
 4.2920e+01 4.8110e+01 3.1660e+01 2.4700e+01 1.6630e+01 3.5800e+00
 3.2440e+01 4.2400e+00 4.1950e+01 1.7200e+01 1.2420e+01 1.3430e+01
 3.8930e+01 1.6990e+01 8.2860e+01 4.0300e+00 4.5940e+01 1.1710e+01
 5.6420e+01 1.1017e+02 4.6820e+01 1.1060e+01 1.4510e+01 2.1430e+01
 1.2730e+01 1.1450e+01 1.5190e+01 2.2210e+01 2.8970e+01 7.4500e+00
 3.6910e+01 2.1720e+01 4.3800e+00 6.5390e+01 2.9950e+01 2.8750e+01
 1.0102e+02 7.6360e+01 1.6740e+01 9.2200e+00 2.4470e+01 1.8360e+01
 4.7200e+00 2.8910e+01 2.5200e+00 7.7200e+00 2.0480e+01 3.4920e+01
 3.1900e+00 4.5140e+01 4.1420e+01 5.6440e+01 1.2650e+01 3.9470e+01
 3.7300e+00 2.0720e+01 1.1350e+01 2.5170e+01 3.5410e+01 2.6260e+01
 2.9970e+01 2.7440e+01 5.2380e+01 1.3990e+01 3.0180e+01 4.0350e+01
 2.9140e+01 2.1960e+01 2.7120e+01 2.6440e+01 2.7660e+01 1.3930e+01
 3.7030e+01 3.8450e+01 3.1690e+01 5.1380e+01 1.7470e+01 1.7960e+01
 4.8000e+00 3.0410e+01 2.3440e+01 1.1900e+00 2.3900e+00 1.7680e+01
 3.7920e+01 6.0400e+01 4.4660e+01 1.0730e+01 1.9690e+01 3.0470e+01
 4.4390e+01 2.0440e+01 4.1730e+01 9.2300e+00 4.4490e+01 1.0780e+01
 2.1660e+01 1.6960e+01 2.7680e+01 3.2450e+01 2.7220e+01 1.0700e+01
 1.1700e+01 8.0000e+00 2.5450e+01 2.7970e+01 1.6235e+02 1.3510e+01
 2.1420e+01 4.4830e+01 3.8900e+01 1.1000e+01 1.6400e+01 2.9460e+01
 2.9120e+01 4.5430e+01 4.2130e+01 4.6890e+01 1.4710e+01 1.3580e+01
 8.2300e+00 2.3670e+01 8.7300e+00 1.4210e+01 6.7260e+01 3.4750e+01
 2.5250e+01 1.6690e+01 4.0530e+01 4.2700e+00 4.5410e+01 1.3770e+01
 6.7100e+00 3.8530e+01 1.1200e+01 2.1190e+01 1.9280e+01 1.7790e+01
 1.4200e+01 4.4920e+01 1.4690e+01 1.1720e+01 2.9430e+01 1.0460e+01
 4.1450e+01 2.6460e+01 3.1450e+01 4.3480e+01 2.3990e+01 3.0660e+01
 3.5150e+01 3.0460e+01 1.3700e+01 1.0960e+01 3.1440e+01 3.3460e+01
 7.0000e+00 3.8520e+01 2.9690e+01 3.7960e+01 3.4370e+01 1.3780e+01
 1.7440e+01 4.3430e+01 3.2960e+01 1.6710e+01 2.6970e+01 8.5000e+00
 1.9450e+01 1.1960e+01 5.4620e+01 1.7700e+01 2.2940e+01 2.2950e+01
 3.3190e+01 1.3370e+01 4.5390e+01 2.0330e+01 1.6170e+01 2.1450e+01
 4.3410e+01 3.6970e+01 1.0230e+01 4.7800e+00 6.7700e+00 3.7430e+01
 1.8940e+01 4.6900e+00 1.7990e+01 3.0920e+01 5.0920e+01 3.2430e+01
 3.8650e+01 1.9430e+01 6.5380e+01 2.3190e+01 5.8890e+01 1.9740e+01
 2.6650e+01 4.5910e+01 2.4410e+01 3.8940e+01 1.6730e+01 2.9180e+01
 6.2100e+00 3.0930e+01 3.5920e+01 2.2480e+01 2.7200e+01 5.3930e+01
 5.0910e+01 3.7410e+01 5.5680e+01 2.9990e+01 1.1130e+01 3.2200e+01
 1.9900e+01 9.7000e+00 9.5800e+00 4.0480e+01 1.0450e+01 3.3450e+01
 1.8950e+01 2.1700e+01 5.2920e+01 3.7200e+00]

===========

Online_Purchase_Amount
===========

[  7.68  18.99   0.   ...  59.49 162.9   98.92]

===========

gender
===========

['Female' 'Male' 'Unknown']

===========

region
===========

['North West' 'South West' 'Scotland' 'Unknown' 'Northern Ireland'
 'West Midlands' 'South East' 'East Midlands' 'North' 'East Anglia'
 'Wales' 'Isle of Man' 'Channel Islands']

===========

Investment_in_Commudity
===========

[151.55  44.28   8.58 ...   6.37  77.45  76.18]

===========


#### Convert categorical variables to numerical values

In [9]:
label_encoder = LabelEncoder()
categorical_columns = ['children','age_band', 'status', 'occupation', 'occupation_partner', 'home_status','family_income','self_employed','self_employed_partner','post_code', 'gender','post_area', 'region', 'TVarea']
for column in categorical_columns:
    train_data[column] = label_encoder.fit_transform(train_data[column])

##### Convert non-numeric values to numeric in the columns containing such values

In [10]:
non_numeric_columns = ['Balance_Transfer', 'Average_A/C_Balance', 'Online_Purchase_Amount']
for column in non_numeric_columns:
    train_data[column] = pd.to_numeric(train_data[column], errors='coerce')

#### Drop rows with missing values

In [11]:
train_data = train_data.dropna()

#### Assuming 'Revenue_Grid' is the target column

In [12]:
X = train_data.drop(['REF_NO', 'Revenue_Grid'], axis=1)
y = train_data['Revenue_Grid']

#### Split the data into training and testing sets

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=60)

#### train model check randome column has numeric value or not

In [14]:
train_data['family_income']

0       11
1       11
2        7
3        8
4       11
        ..
8119     6
8120     1
8121     1
8122     0
8123     8
Name: family_income, Length: 8124, dtype: int64

In [27]:
model = RandomForestClassifier()
model.fit(X_train, y_train)

RandomForestClassifier()

In [24]:
# y_pred = model.predict(X_test)
# print(y_pred)
# y_pred_prob = model.predict_proba(X_test)
# print(y_pred_prob)

In [ ]:
# Adjust the threshold to intentionally reduce the F1 score to 0.5
# Make predictions on the test set

In [57]:
y_pred_prob = model.predict_proba(X_test)[:, 1]  # Predicted probabilities of the positive class
threshold = 0.02  # You can adjust this threshold
y_pred = (y_pred_prob >= threshold).astype(int)
print(y_pred)

[1 1 1 ... 1 1 1]

#### Calculate F1 score

In [58]:
# f1 = f1_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred, average='weighted')
print("F1 Score = "+str(f1))

F1 Score = 0.02003837587801953

In [59]:
submission_data = pd.read_csv('existing_base_test.csv')

In [60]:
submission_data

,REF_NO,children,age_band,status,occupation,occupation_partner,home_status,family_income,self_employed,self_employed_partner,...,Investment_in_Mutual_Fund,Investment_Tax_Saving_Bond,Home_Loan,Online_Purchase_Amount,gender,region,Investment_in_Commudity,Investment_in_Equity,Investment_in_Derivative,Portfolio_Balance
0,697,Zero,71+,Partner,Retired,Housewife,Own Home,"<12,500, >=10,000",No,No,...,45.97,0.00,0.00,0.00,Male,South West,40.48,15.07,28.40,83.05
1,7897,Zero,31-35,Partner,Unknown,Business Manager,Own Home,">=35,000",No,No,...,133.88,27.45,13.47,57.46,Male,South East,27.07,72.01,82.74,235.29
2,4729,Zero,71+,Partner,Housewife,Retired,Own Home,"<15,000, >=12,500",No,No,...,107.88,0.00,0.00,0.00,Female,South West,44.39,32.62,43.86,98.38
3,6914,1,22-25,Partner,Other,Other,Own Home,"<17,500, >=15,000",No,No,...,44.96,0.00,0.00,0.00,Female,Scotland,21.59,24.57,29.23,86.32
4,2795,Zero,65-70,Widowed,Retired,Unknown,Own Home,"< 4,000",No,No,...,33.96,6.99,17.93,5.45,Female,South East,53.66,16.22,32.89,102.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2026,4952,Zero,41-45,Partner,Manual Worker,Manual Worker,Own Home,"<27,500, >=25,000",No,No,...,0.00,0.00,0.00,0.00,Male,North West,6.80,1.66,7.33,17.16
2027,7348,Zero,65-70,Divorced/Separated,Retired,Unknown,Own Home,"<10,000, >= 8,000",No,No,...,265.80,11.48,27.96,68.92,Female,North West,21.29,74.59,64.86,170.49
2028,3903,Zero,45-50,Partner,Secretarial/Admin,Professional,Own Home,"<25,000, >=22,500",No,Yes,...,39.98,46.43,8.98,27.93,Female,South West,26.19,32.20,33.80,103.54
2029,4767,Zero,Unknown,Unknown,Unknown,Unknown,Unclassified,Unknown,No,No,...,0.00,0.00,0.00,1407.45,Female,East Anglia,0.00,234.58,0.00,224.67
2030,5208,1,51-55,Partner,Business Manager,Retired,Own Home,"<25,000, >=22,500",No,No,...,35.48,14.48,0.00,7.99,Female,West Midlands,2.50,17.56,18.31,37.54

#### Convert categorical variables to numerical values

In [61]:
label_encoder = LabelEncoder()
categorical_columns = ['children','age_band', 'status', 'occupation', 'occupation_partner', 'home_status','family_income','self_employed','self_employed_partner','post_code', 'gender','post_area', 'region', 'TVarea']
for column in categorical_columns:
    submission_data[column] = label_encoder.fit_transform(submission_data[column])

##### Convert non-numeric values to numeric in the columns containing such values

In [62]:
non_numeric_columns = ['Balance_Transfer', 'Average_A/C_Balance', 'Online_Purchase_Amount']
for column in non_numeric_columns:
    submission_data[column] = pd.to_numeric(submission_data[column], errors='coerce')

In [63]:
submission_data = submission_data.dropna()

#### Assuming 'Revenue_Grid' is not present in the test data

In [64]:
submission_features = submission_data.drop(['REF_NO'], axis=1)

#### Make predictions on the submission/test data

In [65]:
submission_predictions = model.predict(submission_features)

#### Create a DataFrame with 'REF_NO' and predicted 'Revenue_Grid' values

In [66]:
submission_df = pd.DataFrame({'REF_NO': submission_data['REF_NO'], 'Revenue_Grid': submission_predictions})

##### Export predictions to CSV without column names in the first row

In [67]:
submission_df.to_csv('submission_predictions.csv', index=False, header=False)

#### Thank you :)